<h1><%= @song.title %></h1>

<section>
  <article class="">
    <p>
      <%= link_to "#{@artist.name}", "/artists/#{@song.artist_id}" %>
    </p>
    <p>
      <%= link_to "Edit #{@song.title}", "/songs/#{@song.id}/edit" %>
    </p>
  </article>
</section>
